<!DOCTYPE html>
    <html>
        <head>
            <title>Display Player Information</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css">
            <link rel="stylesheet" type="text/css" href="/static/table.css">

        </head>
        <body>
            <div class="container">

            <h1 style="margin:2px; display:inline;">{{title}}</h1>
            
            <div class="chart">
                <div style="text-align: center; display: inline;" >
                    <p>This table displays {{title}} entire career stats. You can click one of the individual stat button to see that stat displayed in a chart.</p>
                    <p>Or Click the Home Page button to go back to the Home Page and search another player.</p>
                </div>
                <div class="radioButtons">
                    <a href="/get_stats"><button class="button">Table</button></a>
                    <a href="/fgp_chart"><button class="button">FG%</button></a>
                    <a href="/tpp_chart"><button class="button">3P%</button></a>
                    <a href="/ftp_chart"><button class="button">FT%</button></a>
                    <a href="/rpg_chart"><button class="button">RPG</button></a>
                    <a href="/apg_chart"><button class="button">APG</button></a>
                    <a href="/spg_chart"><button class="button">SPG</button></a>
                    <a href="/bpg_chart"><button class="button">BPG</button></a>
                    <a href="/ppg_chart"><button class="button">PPG</button></a>
                    <a href="/"><button class="button">Home Page</button></a>
                </div>
                <br>
                <div>
                    <table id="info">
                        <tr>
                            <th>Year</th>
                            <th>Team</th>
                            <th>FPG</th>
                            <th>TPP</th>
                            <th>FTP</th>
                            <th>RPG</th>
                            <th>APG</th>
                            <th>SPG</th>
                            <th>BPG</th>
                            <th>PPG</th>
                        </tr>
                        <tr></tr>
                        <tr>
                            {% for x in data %}
                            {% for a in x %}
                            <td>{{a.0}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            </div>
        </body>
    </html>
