<!DOCTYPE html>
<html>
    <header>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </header>
    <body>
        <div>
        <h1>{{title}}</h1><br>
        </div>
        <div class="container">
            <form action="/get_stats" method="POST">
                <label for="first_name">Enter First Name:</label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Enter Last Nane:</label>
                <input type="text" name="last_name" id="last_name">
                <input type="submit"><br>
                <p>In this webpage you can enter an NBA player's name to see their career stats.</p>
            </form>
            <div class="chart" style="text-align: center;">
            <br>
            <br>
            <h2>{{msg}}</h2>
            <h2>{{msg2}}</h2>
            </div>
        </div>
    </body>
</html>