.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart{
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(0, 0);
    width: 100%;
    height: 90%;
    padding: 5px;
    margin: 5px;
}

.radioButtons{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }