#info{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

  
#info td, #data th{
    border: 1px solid #ddd;
    padding: 8px;
}
  
#info tr:nth-child(even){background-color: #f2f2f2;}
  
#info tr:hover {background-color: #ddd;}
  
#info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}